# Игнорировать всё в logs/, кроме самой папки и handler_log.py
logs/*
!logs/
!logs/handler_log.py
!logs/logger_helper.py

# Игнорировать .db файлы в db/
db/*.db
.env
# Игнорировать виртуальное окружение
.venv/
__pycache__/
