.switch-toggle {
  position: relative;
  width: 60px;
  height: 32px;
  border-radius: 16px;
  background-color: #dc3545; /* OFF */
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 4px;
}

.switch-toggle.on {
  background-color: #28a745; /* ON */
  justify-content: flex-end;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
}
