<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>🌱 Умная Дача</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success px-3">
  <a class="navbar-brand" href="{{ url_for('dashboard.dashboard') }}">Автополив</a>

  {% if session.logged_in %}
  <div class="ms-auto d-flex gap-2">
    <a href="{{ url_for('dashboard.add_schedule') }}" class="btn btn-outline-light btn-sm">➕ Добавить</a>
    <a href="{{ url_for('logs.logs') }}" class="btn btn-outline-light btn-sm">📜 Логи</a>
    <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-light btn-sm">🚪 Выйти</a>
  </div>
  {% endif %}
</nav>


  {% block content %}{% endblock %}
</body>
</html>
